<div class="container">
 <div class="row">
  <div class="col-12">
   <h3>投稿</h3>
   
   <% if @post_image.errors.any? %>
     <%= @post_image.errors.count %>件のエラーが発生しました
   <ul>
     <% @post_image.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
   </ul>
   <% end %>
   
    <div>
      <%= form_with model: @post_image, url: post_images_path do |f| %>
       <div style="padding: 15px 0px; display: flex;" ><div>画像</div>　　　　　　　　　 <div><%= f.file_field :image, accept: "image/*" %></div></div>
       <div style="padding: 15px 0px; display: flex;" ><div>タイトル(3~20文字)</div>　　 <div><%= f.text_field :title %></div></div>
       <div style="padding: 15px 0px; display: flex;" ><div>内容(1~100文字)</div><div style="padding-left: 56px"><%= f.text_area :introduction %></div></div>
       <div class='form-group'>
         <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
             <div class='form-check'>
                 <%= tag.label class: 'form-check-label' do %>
                     <%= tag.check_box class: 'form-check-input' %>
                     <%= tag.text %>
                 <% end %>
             </div>
         <% end %>
        </div>
        
       <div>　　　　　　　　　　　　　 <%= f.submit "投稿する", class:'btn btn-primary btn-success' %></div>
      <% end %>
    </div>
    
  </div>
 </div>
</div>