<div class="container">
 <div class="col-12">
  <h2>タグが<%= @tag.name %>の投稿一覧</h2>
 
  <i class="fa-sharp fa-solid fa-tag"></i>
   <%= @tag.name %>
   
  <div>
    <% @post_images.each do |post_image| %>
    <div>
     <%= image_tag post_image.user.get_image(50,50) %><%= post_image.user.nick_name %>
       <%= link_to post_image_path(post_image.id) do %>
       <%= post_image.title %>
       <% end %><br>
       <%= "#{post_image.comments.count} コメント" %>
    <% end %>
   </div>
  
 </div>
</div>