<div class="container">
  <div class="col">
   <table>
     <body>
       <tr>
       <td><%= image_tag @post_image.get_image(100,100) %></td>
      </tr>
      <tr>
       <td><%= @user.nick_name %></td>
      </tr>
      <tr>
       <td><%= @post_image.title %></td>
      </tr>
      <tr>
       <td><%= @post_image.introduction %></td>
      </tr>
     </body>
   </table>
  </div>
  <div class="col">
      <p>コメント件数：<%= @post_image.comments.count %></p>
       <% @post_image.comments.each do |post_comment| %>
       <p><%= image_tag post_comment.user.get_image(100,100) %></p>
       <%= post_comment.user.nick_name %>
       <%= post_comment.comment %>
       <% if post_comment.user == current_user %>
        <%= link_to "削除", post_image_comment_path(post_comment.post_image, post_comment), method: :delete %>
       <% end %>
     <% end %>
  </div>
  <div>
     <%= form_with model: [@post_image, @comment] do |f| %>
       <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
       <%= f.submit "送信する" %>
     <% end %>
  </div>
</div>