<div class="container">
  <div class="col">
   
    <% @tag.each do |tag|%>
     <i class="fa-sharp fa-solid fa-tag"></i>
     <%= link_to tag.name, "/post_images/search_tag/#{tag.id}" %>
     <%="(#{tag.post_images.count})" %>
    <% end %>
    
   <div>
     <% @post_images.each do |post_image| %>
       <div>
        <%= image_tag post_image.user.get_image(50,50) %><%= post_image.user.nick_name %>
          <%= link_to admin_post_image_path(post_image.id) do %>
          <%= post_image.title %>
          <% end %>
          <%= post_image.created_at.strftime('%Y/%m/%d %H:%M') %><br>
          <%= "#{post_image.comments.count} コメント" %>
         <% end %>
       </div>
   </div>
   <%= paginate @post_images %>
  </div>
</div>