<div class="container">
  <div class="col">
    
   <p>いいねした投稿一覧</p>
   
     <% @favorites_post_images.each do |post_image| %>
   <div>
     <%= image_tag post_image.user.get_image(50,50) %><%= post_image.user.nick_name %>
      <%= link_to post_image_path(post_image.id) do %>
      <%= post_image.title %>
    <% end %>
   </div>
    <% end %> 
    
    <%= render partial: "public/post_images/test", collection: @favorite_post_images %>
    
  </div>
</div>